.expenses {
  background: var(--color-smallSection);
  font-size: larger;
  color: white;
  width: 21rem;
  height: 9rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 60px;
  left: 400px; /* Adjust as per your layout */
  margin-top: 20px; /* This line creates the desired gap */
}

.expensesHeader {
  margin: 0;
  margin-bottom: 10px;
}

.addExpenseButton {
  background: linear-gradient(
    to bottom right,
    rgba(255, 149, 149, 1),
    rgba(255, 71, 71, 1),
    rgba(255, 56, 56, 1)
  );
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.addExpenseButton svg {
  margin-right: 5px;
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the overlay is above other elements */
}

.modalContent {
  background-color: rgba(239, 239, 239, 0.85); /* Semi-transparent white background for the modal */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 500px; /* Max width of the modal */
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.inputGroup {
  margin-bottom: 10px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.inputGroup input,
.inputGroup select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonGroup {
  margin-top: 20px;
}

.addButton,
.cancelButton {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addButton {
  background-color: rgba(244, 187, 74, 1);
  color: white;
}

.cancelButton {
  background-color: rgba(227, 227, 227, 1);
  color: black;
}

.cancelButton:hover {
  background-color: rgba(210, 210, 210, 1);
}
